.border-added {
  background: #ffffff;
  border: 1px solid #eff0f7;
  box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
  border-radius: 34px;
}
.heading {
  color: #0f1419;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 18px;
}
.heading1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  margin-top: 64px;
  color: #0f1419;
}
.design {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #7a7c8b;
}
.input-design {
  padding: 10px 20px;
  background: #ffffff;
  border: 1px solid #eff0f7;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 6px;
}
.bg-desing {
  background: #357df9;
  color: white;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 18px;
  padding: 20px 40px 21px;
  box-shadow: 0px 3px 12px rgba(53, 125, 249, 0.18);
  border-radius: 6px;
}
